output
.idea
output_raster_mask
austriadownloader/__pycache__/
austriadownloader/austria_data/downloaded_data

demo/

*.tif

demo.py
poetry.lock
dist
build
.venv
sample_even_download.csv
stratified_sample_austria.csv